@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --primary: 283 100% 23%;
    --secondary: 0 0% 66%;
    --radius: 1rem;
  }
  .dark {
    --primary: 283 100% 23%;
    --secondary: 0 0% 66%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white text-black;
  }

  textArea {
    @apply resize-none py-3 px-4 block w-full min-h-52 border-2 rounded-lg focus:outline-none text-xl text-white bg-secondary overflow-hidden mt-4;
  }
}
